# Dépendances requises pour le Traducteur Automatique de Manhwa

# OCR
easyocr==1.7.1

# Traitement d'images et données
Pillow==10.1.0
numpy==1.24.3
opencv-python==4.8.1.78

# Traduction (API non officielle de Google)
googletrans==4.0.0rc1

# Utilitaires (barre de progression)
tqdm==4.66.1

# --- Dépendances pour l'ACCÉLÉRATION GPU (via EasyOCR) ---
# Ces librairies sont nécessaires si vous utilisez `gpu=True` dans votre script.
torch
torchvision


# pip install -r requirements.txt


